@model MVCScheduler.Web.Areas.Master.Models.ResourceListViewModel

@{
    ViewBag.Title = "Index";
}

<h2>リソースマスタ - 一覧</h2>

<table class="data-grid">
	<tr class="table-header">
		<th></th>
		<th>リソースコード</th>
		<th>リソース名</th>
		<th>リソースタイプ</th>
	</tr>
	@foreach (var item in Model.Items)
	{
	<tr>
		<td>@Html.ActionLink("編集", "Edit", new { id = item.ID })</td>
		<td>@item.Code</td>
		<td>@item.Name</td>
		<td>@item.ResourceType.Name</td>
	</tr>
	}
	<tr class="table-footer">
		<td colspan="4">@Html.ActionLink("新規追加", "Create")</td>
	</tr>
</table>

@section Scripts
{
    <script type="text/javascript" src="~/Areas/Master/Scripts/Resource/Index.js"></script>

    <script type="text/javascript">

    </script>
}
