@model MVCScheduler.Web.Areas.Master.Models.AppUserViewModel

@{
	Html.EnableClientValidation();
}

<h2>ユーザマスタ - 変更</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>M_AppUser</legend>

        @Html.HiddenFor(model => model.ID)
        @Html.HiddenFor(model => model.Timestamp)

        <div class="editor-label">
            @Html.LabelFor(model => model.Code)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Code)
            @Html.ValidationMessageFor(model => model.Code)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

		<div class="editor-label">
			@Html.LabelFor(model => model.SystemUserID)
		</div>
		<div class="editor-field">
			@Html.DropDownListFor(model => model.SystemUserID, Model.SystemUsersAsListItem())
			@Html.ValidationMessageFor(model => model.SystemUserID)
		</div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
